:root {
    --primary-bg: #e5ecf4;
    --primay-clr: #4371ef;
    --secondary-clr: #e28413;
    --nav-closed-width: 75px;
    --nav-halve-closed-width: calc(var(--nav-closed-width) / 2);
    --nav-open-width: 325px;
    --nav-animation-duration: .2s;
    --mobile-nav-height: 75px;
}

html, body {
    height: 100%;
    width: 100%;

    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-bg);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1, h2, h3, h4, p, a, figcaption, ol li::marker, li, label, input, textarea, td, th, caption {
    font-family: 'Roboto', sans-serif;
}

blockquote, code {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-bg);
    padding: 4px;
}

blockquote {
    font-size: 16px;
    display: inline-block;
}

code {
    font-size: 14px;
}

p code {
    padding: 2px;
    font-size: inherit;
    font-weight: inherit;
}

h1, h2, h3, h4, a {
    color: var(--primay-clr);
}

h1 {
    text-align: center;
}

:focus {
    outline: none;
    box-sizing: border-box;
    box-shadow:
            0 0 0 6px white,
            0 0 0 10px var(--secondary-clr)
    ;

    border-radius: 15px;
}

main {
    margin: 0 16px calc(var(--mobile-nav-height) + 10px) 16px;
}

/* NAV */

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    height: 100%;
    width: var(--nav-closed-width);

    background-color: var(--secondary-clr);
    overflow: hidden;

    box-shadow: 5px -2px 10px rgba(0,0,0,0.15);

    transition: width var(--nav-animation-duration) ease-out;
}

nav:hover {
    width: var(--nav-open-width);
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav li {
    margin-bottom: 25px;
}

nav a {
    white-space: nowrap;
    transition: text-shadow .2s ease;

    padding-left: calc(var(--nav-halve-closed-width) - 17.5px);
    text-decoration: none;

    color: white;
    letter-spacing: 1.25px;
    font-weight: 500;
}

nav a::before {
    font-family: 'Material Icons', sans-serif;
    font-size: 22px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 4px;
    margin-right: var(--nav-halve-closed-width);

    /* Aligns before with content */
    vertical-align: -15%;

    text-shadow: none;

    transition:
            background-color .2s ease,
            color .2s ease,
            border .2s ease
    ;
}

nav li:nth-child(1) a::before {
    content: 'dvr';
}

nav li:nth-child(2) a::before {
    content: 'code';
}

nav li:nth-child(3) a::before {
    content: 'school';
}

nav a:hover {
    text-shadow: 2px 2px rgba(0,0,0,0.45);
}

nav a:hover::before {
    color: black;
    background-color: white;
    border-color: black;
}

nav a:focus {
    box-shadow:
            0 0 0 10px var(--secondary-clr),
            0 0 0 14px white
    ;

}

nav li:nth-last-child(1) {
    display: none;
}

@media only screen and (max-width: 800px) {
    nav {
        top: calc(100% - var(--mobile-nav-height));
        left: 0;

        height: var(--mobile-nav-height);
        width: 100%;

        transition: top .3s ease, height .3s ease;
    }

    nav:hover {
        width: 100%;
    }

    nav ul {
        display: flex;
    }

    nav li {
        display: none;
    }

    nav li:nth-last-child(1) {
        display: inline-block;
        color: white;
        text-align: center;
        margin: 0 auto;
        font-weight: 900;
    }

    nav a {
        padding: 10px 15px;
    }

    nav a::before {
        padding: 10px 16px;
    }

    nav.active {
        top: 0;
        height: 100%;
    }

    nav.active ul {
        height: 100%;
        display: grid;
        align-content: center;
        justify-content: center;
        row-gap: 15px;
    }

    nav.active li {
        display: inline-block;
    }
}

/* ARTICLE */

article {
    max-width: 648px;
    margin: 0 auto 15px auto;
    padding: 8px 12px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.35);
    border-radius: 5px;
}

article figure {
    margin: 0;
}

article img {
    max-width: 100%;
    border-radius: 5px;
}

article figcaption {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

article h2 {
    margin-top: 5px;
}

article a {
    transition: color .2s ease;
}

article a:hover {
    color: var(--secondary-clr);
}

section::after {
    display: block;
    content: "more_horiz";
    font-family: 'Material Icons', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}

article footer {
    display: flex;
    justify-content: center;
}

caption {
    text-decoration: underline;
}

th {
    padding: 0 8px;
}

td {
    text-align: center;
    margin: 0 4px;
}

section:last-of-type::after {
    content: '' !important;
    display: none;
}

section:last-of-type p {
    margin-bottom: 35px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;

    display: flex;
    align-items: center;
}

section:last-of-type p::before {
    content: 'account_circle';
    font-family: 'Material Icons', sans-serif;
    font-size: 28px;
    padding-right: 5px;
}

.list_item_image {
    list-style-type: none;
}

.large_quote {
    background-color: transparent;
    padding-left: 10px;
    margin-left: -5px;
    border-left: 2px solid black;
    border-radius: 6px;
}

iframe {
    width: 100%;
    border: none;
}

form div {
    display: flex;
    flex-direction: column;
    position: relative;
}

form div:focus {
    background-color: red;
}

label {
    position: absolute;
    left: 16px;
    top: 25px;
    transform: translateY(-50%);
    transition: transform .3s ease;
}

input, textarea {
    padding: 20px 16px 6px 16px;
    border-color: transparent;
    border-bottom: 2px solid var(--primay-clr);
    background-color: var(--primary-bg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    font-size: 16px;

    margin-bottom: 8px;

    transition: border-bottom-color .3s ease;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: none;
    border-radius: 15px 15px 0 0;
}

input:focus + label, input:valid + label, input:invalid:focus + label,
textarea:focus + label, textarea:valid + label, textarea:invalid:focus + label {
    transform:
        translateY(-106%)
        translateX(-10%)
        scale(0.75);
}

input:invalid:focus, textarea:invalid:focus {
    border: 2px solid transparent;
    border-bottom: 2px solid red !important;
}

input[type="submit"] {
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
    background-color: limegreen;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
}

input[type="submit"] + label {
    transform: translateY(0);
}
